#project
	relative   : top left
	padding    : 80px 20px 80px 20px
	max-width  : 1280px
	margin     : 0 auto
	
	video
		width              : 100%
		margin             : 0 0 40px 0
		background-size    : cover
		background-position: 50%
	
	.copy
		text-align: center
		cursor    : default
		
		h1.title
			letter-spacing: 16px
			text-indent   : 16px
			margin-bottom : 10px
			
		p.description
			//
				
		p.tools
			margin-bottom: 25px
			
		a.external-link
			display: inline-block
			font-weight: bold
			
		.status
			margin-bottom: 40px
		
	.images
		column-count: 2
		column-gap  : 20px
		
		.image
			position      : relative
			padding-bottom: 20px
			
			-webkit-column-break-inside: avoid
			page-break-inside          : avoid
			break-inside               : avoid
			
			opacity   : 0
			visibility: hidden
		
			img
				display: block
				width  : 100%
				
	+mobile()

		.images
			column-count: 1