@import '_variables'
@import '_mixins'
@import 'nib'

@keyframes rotate
	0%
		transform: rotate3d(0, 1, 0, 0deg)
		
	50%
		transform: rotate3d(0, 1, 0, 180deg)
		
	100%
		transform: rotate3d(0, 1, 0, 360deg)

html.{NS}
	
	#header .mask
		fixed     : top left
		width     : 100%
		height    : 80px
		background: linear-gradient( top, rgba( $black,1 ) 0%, rgba( $black,0 ) 100% )
		z-index   : 1
		
		// display: none

	#header .header
		fixed     : top 1.5% left 2.5%
		display   : table
		opacity   : 0
		visibility: hidden
		
		.logo
			display         : block
			width           : 36px
			margin-right    : 20px
			opacity         : 0.9
			perspective     : 200
			
			img
				transform-origin: 50%
			
				&.loading
					animation: rotate 0.75s linear infinite
		
		ul
			display       : table-cell
			vertical-align: middle
			
			li
				display: inline-block
				margin : 0 20px 2px 0
				
				a
					color         : $white
					display       : block
					letter-spacing: 0px
					position      : relative
					font-size     : 16px
					text-transform: lowercase
					
		@media ( max-width: $screen-mobile-min )
			
			left: 20px
				