{
  "extends": "stylelint-config-suitcss",
  "rules": {
    "order/properties-alphabetical-order": null,
    "rule-empty-line-before": [
      "always-multi-line",
      { "except": ["after-single-line-comment", "first-nested"] }
    ]
  }
}
