ul( class="{{ location }}" )

	li.work
		a.light( href="./" ) RECENT WORK
			.line

	li.logo
		a( href="./" no-underline )
			img( src="images/_tmp/logo.png" )

	li.about
		a.light( href="./about-me" ) ABOUT ME
			.line