doctype html
html

	head
		
		include components/meta
		
		link(href="/css/app.css", rel="stylesheet")

	body

		include components/header

		main(id="main")

			block content

		include components/footer

		script(src="/js/vendor.js")
		script(src="/js/app.js")
