$color-accent: #002aff;

$color-status-active: #55d980;
$color-status-unknown: #f7dc6d;
$color-status-inactive: #f76d6d;
$color-status-error: #f76d6d;
$color-status-archived: #e8e8e8;

$color-location: #ffe194;
$color-rate: #ffbc00;
$color-favourite: #ffe194;

$color-background: #f8f8f8;
$color-copy: #efefef;

$color-darkest-grey: #232323;
$color-darker-grey: #424242;
$color-dark-grey: #656565;
$color-grey: #8b8b8b;
$color-grey-2: #787878;
$color-grey-3: #171717;
$color-grey-4: #797979;
$color-grey-5: #c9c9c9;
$color-light-grey: #bebebe;
$color-lighter-grey: #f0f0f0;
$color-lighter-grey-2: #f5f5f5;
$color-lighter-grey-3: #ccc;
$color-lightest-grey: #e8e8e8;

$color-grey-accent: #dedede;

$color-border: #f3f3f3;
$color-border-dark: #222;

$color-tag-cta-hover: #c4c4c4;
$color-cta-tag-hover: #e0e0e0;

$color-shadow: #b4b4b4;
$color-shadow-hover-1: #808080;
$color-shadow-hover-2: #b4b4b4;

$color-white: #fff;
$color-black: #000;

$color-permissions-superadmin: #6d7ff7;
$color-permissions-admin: #80b4f1;
