@import '_variables'
@import '_mixins'

html.{NS}
		
	.roboto
		font-family: 'Roboto Condensed', sans-serif

	body
		font-size  : 16px
		line-height: 20px
		font-weight: 300
		color      : $black

	h1
		font-size  : 34px
		line-height: 36px
		font-weight: 300
		
	h2
		font-size  : 24px
		line-height: 26px
		font-weight: 300
		
	h3
		font-size  : 18px
		line-height: 22px
		font-weight: 300
		
	@media ( max-width: $screen-tablet-max )

		h1
			font-size: 30px
			
		h2
			font-size: 18px

	@media ( max-width: $screen-mobile-min )

		h1
			font-size: 28px
		
	p
	a
	span
		
		&.bold
			font-weight: 700
		
		&.light
			font-weight: 300
		
	a
		position       : relative
		color          : $white
		text-decoration: none
		
		&:after
			content         : ""
			display         : block
			background-color: $white
			width           : 0
			height          : 1px
			absolute        : bottom -4px left 50%
			opacity         : 0.6
			transition      : all 0.3s cubic-bezier( 0.23, 1, 0.32, 1 )
		
		&.current
		&:hover
			&:after
				width: 100%
				left : -1px
