@import '_variables'
@import '_mixins'

html.{NS}

	.container
		margin   : 0 auto
		width    : 95%
		// max-width: $screen-desktop-max
			
	.row
		clearfix()
		position: relative
		
	.col
		float     : left
		position  : relative
		min-height: 1px
		
		&.col-third
			width: ( 100% / 3 )

		&.col-1
			width: ( 1 / 8 * 100% )
			
		&.col-2
			width: ( 2 / 8 * 100% )
			
		&.col-3
			width: ( 3 / 8 * 100% )
			
		&.col-4
			width: ( 4 / 8 * 100% )
			
		&.col-5
			width: ( 5 / 8 * 100% )
			
		&.col-6
			width: ( 6 / 8 * 100% )
			
		&.col-7
			width: ( 7 / 8 * 100% )
			
		&.col-8
			width: ( 8 / 8 * 100% )
			
		&.col-push-1
			margin-left: ( 1 / 8 * 100% )
			
			&:last-child
				margin-left : 0
				margin-right: ( 1 / 8 * 100% )
				float       : right
				
			&:first-child
				margin-left : ( 1 / 8 * 100% )
				margin-right: 0
				float       : left
				
		&.col-push-0-5
			margin-left: ( 0.5 / 8 * 100% )

		&.col-push-1-5
			margin-left: ( 1.5 / 8 * 100% )

		&.col-push-2
			margin-left: ( 2 / 8 * 100% )
			
		&.col-push-3
			margin-left: ( 3 / 8 * 100% )
		
		&.col-push-4
			margin-left: ( 4 / 8 * 100% )
			
	@media (max-width $screen-mobile-min)
		.container
			width: 100%
	
		.col
			&.col-1
			&.col-2
			&.col-3
			&.col-4
			&.col-5
			&.col-6
			&.col-7
			&.col-8
				width: 100%
				
			&.col-mobile-3
				width: ( 100% / 3 )
				
			&.col-push-0-5
			&.col-push-1-5
				margin-left: 0
				
			&.col-push-1
				margin-left: 0
				
				&:last-child
					margin-left : 0
					margin-right: 0
					
				&:first-child
					margin-left : 0
					margin-right: 0

			&.col-push-2
				margin-left: 0
				
			&.col-push-3
				margin-left: 0

	.layer
		absolute top 0 left 0
		for i in 0...20
			&-{'%s' % i}
				z-index : i