@import '_variables'
@import '_mixins'
@import '_loader'

html.{NS}
	
	#loader
		background-color: $black
		width           : 100%
		height          : 100%
		fixed           : top left
		
		// visibility: visible !important
		// opacity   : 1       !important
			
		.percent
			absolute      : top 50% left 0
			width         : 100%
			text-align    : center
			color         : white
			font-size     : 24px
			letter-spacing: 5px
			
		.loading-bars
			.bar
				position        : absolute
				background-color: $white
				opacity         : 0.9
				
				&.bar-odd
					height: 2px
					
				&.bar-even
					width: 2px
				
				&.bar-1
					top   : 0
					left  : 0
					
				&.bar-2
					top  : 0
					right: 0
					
				&.bar-3
					bottom: 0
					right : 0
					
				&.bar-4
					bottom: 0
					left  : 0
		
		.spinner
			absolute  : top 50% left 50%
			margin    : -26px 0 0 -30px
			display   : block
			text-align: center
			
			p
				margin-top    : 10px
				letter-spacing: 2px
				font-size     : 10px
				font-weight   : 800
				color         : $white
				
