inlist(val, list)
	return true if val == prop for prop, i in list

clearfix()
	&:before
	&:after
		content: " "
		display: table

	&:after
		clear: both

	*zoom: 1
		
size($width, $height)
	remify(width, $width)
	remify(height, $height)
	
text-indent($offset = -99999px)
	text-indent: $offset
	
transition-style()
	transition : all 0.25s ease-out
	
hide()
	opacity: 0
	visibility: hidden
	
show()
	opacity: 1
	visibility: inherit