@import 'nib'
@import '_variables'
@import '_mixins'

global-reset()

html.{NS}

	font-size: 62.5%
	-webkit-text-size-adjust: 100%
	-webkit-tap-highlight-color: rgba(0,0,0,0)

	*
		box-sizing: border-box
		-webkit-font-smoothing: antialiased
		-moz-osx-font-smoothing: grayscale
		transform-origin: 0 0
		
	body
		background-color: $black
		color           : $white
		
	img
		max-width  : 100%
		user-select: none
		user-drag  : none
		
	span
		display: inline-block