#home.page

	section.work

		ul.col.col-8

			each project in data

				li.col.col-third.project

					a(href="#{base_path}#{project.url}", style="background-image: url('#{base_path}/#{project.assets[0].src}')")
					
						.mask
							
						h2 #{project.copy.title}