#project.page.row.container

	if data.video

		.video.row
			video(
				controls
				poster="#{base_path}/images/_tmp/transparent.png"
				style="background-image: url('#{base_path}/#{data.assets[0].src}');"
			)
				source(src="#{base_path}/#{data.video}.mp4" type="video/mp4")
				source(src="#{base_path}/#{data.video}.ogg" type="video/ogv")

	.copy.row
		
		h1.title #{data.copy.title}
		p.description !{data.copy.description}

		if data.copy.link

			p.status.live Status: Live - 

				a.external-link(href="#{data.copy.link}" target="_blank") Go to website

		else

			p.status.not-online Status: Offline

	#images.row

		each image in data.assets

			unless image.id == 'big-home-image'

				img.image(src="#{base_path}/#{image.src}")
