mixin progress-circular( mode, min, max, theme )

	md-progress-circular(
		md-mode=mode
		aria-valuemin=min
		aria-valuemax=max
		class=theme
	)
		.md-spinner-wrapper

			.md-inner

				.md-gap

				.md-left
					.md-half-circle

				.md-right
					.md-half-circle