@import 'nib'
@import '_variables'
@import '_mixins'

html.{NS}
	
	#home

		.work
			absolute: top left
			width   : 100%
			height  : 100%
			
			ul
				li
					overflow           : hidden
					backface-visibility: hidden
					
					a
						display            : flex
						align-items        : center
						justify-content    : center
						width              : 100%
						height             : 100%
						background-size    : cover
						background-position: 50%
						transition         : transform 0.75s cubic-bezier( 0.23, 1, 0.32, 1 )
						transform-origin   : 50%
						
						&:hover
							transform: scale(1.015)
						
					h2
						relative           : top
						color              : $white
						letter-spacing     : 10px
						text-transform     : uppercase
						transform          : scale(0.95)
						text-shadow        : 0px 0px 4px $black
						transform-origin   : 50%
						opacity            : 0
						
						transition-style()
						
					.mask
						absolute        : top left
						width           : 100%
						height          : 100%
						background-color: $black
						opacity         : 0.6
						
						transition-style()
					
					&:hover
						.mask
							opacity: 0
							
						h2
							opacity  : 1
							top      : -0.8%
							transform: scale(1)
								
			@media ( max-width: $screen-tablet-max )
				ul
					li
						a
							transform: none !important
							
						h2
							opacity: 0 !important
							
						.mask
							opacity: 0.2 !important
							
			@media ( max-width: $screen-tablet-min )
				ul
					height: 100%
					
					li
						width: 50%
						height: ( 100% / 3 ) !important
