@import 'nib'
@import '_variables'
@import '_mixins'

html.{NS}
	
	#project
		relative: top 80px left
		color   : $white
		
		.copy
			
			h1.title
				letter-spacing: 15px
				margin-bottom : 10px
				
			p.description
				max-width: 700px
				margin   : 25px 0
				
			a.external-link
				display      : inline-block
				margin-bottom: 40px
				
			p.status
				margin-bottom: 10px
				
				&.not-online
					margin-bottom: 40px
			
		video
			width : 100%
			margin: 0 0 20px 0
			
			background-size    : cover
			background-position: 50%
			
		#images
			width: 100%
			
			.image
				width         : 50%
				display       : block
				padding-bottom: 20px
					
		@media ( max-width: $screen-tablet-min )

			#images
				margin-bottom: 0
				
				img
					width: 100% !important
				
		@media ( max-width: $screen-mobile-min )
		
			.copy
				padding: 0 20px
				
			.images
				padding: 0 20px