/*******************
C O R E
********************/
@import 'nib'
@import 'jeet'
@import 'reset'

/*******************
H E L P E R S
********************/
@import '_ease'
@import '_fonts'
@import '_mixins'
@import '_variables'

/*******************
P A R T I A L S
********************/
@import 'partials/header'
@import 'partials/loader'

/*******************
V I E W S
********************/
@import 'pages/_home'
@import 'pages/_project'
@import 'pages/_about'

/*******************
A N I M A T E
********************/
@import 'animate'