#about
	
	.background
	
		#three-skull( three-skull )

	.copy

		h1.title Hello! My name is Scott.

		p.description 
			| I'm a passionate developer with great attention to detail and an eye for good design. 
			| I strive to deliver high quality content to my clients.
			| I have loved working with computers since I can remember. 
			| In my spare time I like to take photos, skate, snowboard, travel and excercise.  
			| My skills include:

		ul
			li
				h4 Javascript
				p 
					| Solid understanding of OOP practises and experience with frameworks such as Angular, Meteor and Backbone. 
					| I also enjoy working with THREE.JS.
					| Currently exploring Node.js as a Backend using 
					a( href="http://keystonejs.com/" target="_blank" ) Keystone.js.

			li 
				h4 CSS3
				p 
					| Well rounded knowledge of CSS3 animations. 
					| Experience with CSS preprocessors such as Stylus and SASS.

			li
				h4 HTML5
				p
					| Very experienced with HTML5 and Templating languages such as 
					a( href="http://jade-lang.com" target="_blank" ) Jade.

			li
				h4 General
				p
					| Lots of experience with responsive design accross all devices and screen sizes, cross-browser development, integration of many social API's and a basic understanding of PHP.

			li
				h4 Current Workflow
				p
					| Coffeescript, Jade and Stylus (all compiled with gulp) using a custom built MVC framework and a custom CLI. 
					a( href="https://gitlab.com/hi-res/framework" target="_blank" ) Check it out

		h4.contact Get in touch

		a.email( href="mailto:dev.scottashmore@gmail.com" ) dev.scottashmore@gmail.com

		br

		.social
			
			a.github( href="http://github.com/ashmore11" target="_blank" no-underline )
				img(src="images/social/github.png")

			a.linkedin( href="https://uk.linkedin.com/in/scottashmore" target="_blank" no-underline )
				img(src="images/social/linkedin.png")

			a.instagram( href="https://instagram.com/scottashmore" target="_blank" no-underline )
				img(src="images/social/instagram.png")

			a.tumblr( href="http://scottashmore.tumblr.com" target="_blank" no-underline )
				img(src="images/social/tumblr.png")