.mask

.header.layer-13
	
	.logo
		img(src="#{base_path}/images/_tmp/logo.png")

	ul
		li.work
			a.light(href="#{base_path}/") RECENT WORK
				.line

		li.photography
			a.light(href="http://www.scottashmore.tumblr.com/" target="_blank") PHOTOGRAPHY
				.line

		li.about
			a.light(href="mailto:dev.scottashmore@gmail.com") CONTACT
				.line
